<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shorty(URL shortner)</title>
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    
<div id="container" ng-app="shorty" ng-controller="urlCtrl">
    
    <h1>Shorty</h1>
    <h2>URL Shortner</h2>
    
    <input id="url-input"  placeholder="Paste a website link..." ng-model="url">
    <input id="shortcode-input"  placeholder="Shortcode?" ng-model="shortcode">

    <button id="btn" ng-click="addUrl()">Short it!</button>

    <div id="link">
        <a href="{{short_url}}">{{short_url}}</a>
    </div>
    
    <div ng-show="showMessage" class="message fadein fadeout">{{error}}</div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="controller.js"></script>
</body>
</html>