<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shorty(URL shortner)</title>
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    
<div id="container">
    <h1>Shorty</h1>
    <h2>URL Shortner</h2>
    <input id="url-input"  placeholder="Paste a website link...">
    <input id="shortcode-input"  placeholder="Shortcode?">

    <button id="btn">Short it!</button>

    <div id="link"><a href=""></a></div>
    <div class="message"></div>
</div>

</body>
</html>